
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.authorization-NqJ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 18.8rem;
  display: flex;
  background-color: #303030;

  .shapka-WRi {
    justify-content: center;
    font-weight: 400;
    line-height: 1.115;
    color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 9.7rem;
    letter-spacing: -0.0427rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: #272727;
    padding: 1.9rem 9.35rem;
    overflow: hidden;
    font-family: Comfortaa, 'Source Sans Pro';
    position: relative;
    font-size: 2.8444rem;
  }
  .auto-group-tteq-aRa {
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.200000003);
    border-radius: 1.7rem;
    flex-shrink: 0;
    width: calc(100% - 142rem);
    display: flex;
    padding: 10.05rem 7.4rem 2rem 4.6rem;
    align-items: center;
    flex-direction: column;
    border: solid 0.1rem #353535;
    background-color: #272727;
    margin: 0 71rem;
    box-sizing: border-box;

    .item--fT2 {
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      line-height: 1.115;
      color: #ffffff;
      font-family: Comfortaa, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 3.25rem 3rem;
      flex-shrink: 0;
      font-weight: 400;
      letter-spacing: -0.036rem;
      align-items: center;
    }
    .auto-group-6l6q-uMN {
      margin: 0rem 0rem 3.1rem 3rem;
      letter-spacing: -0.036rem;
      justify-content: center;
      font-size: 2.4rem;
      background-color: #3d3c3c;
      border-radius: 1.5rem;
      height: 5rem;
      display: flex;
      white-space: nowrap;
      line-height: 1.115;
      color: rgba(255, 255, 255, 0.4799999893);
      font-family: Comfortaa, 'Source Sans Pro';
      flex-shrink: 0;
      width: 35rem;
      align-items: center;
      font-weight: 400;
    }
    .auto-group-hutw-6gk {
      padding: 1.3rem 1.2rem 1rem 13rem;
      align-items: center;
      background-color: #3d3c3c;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin: 0rem 0rem 2.7rem 3rem;
      width: calc(100% - 3rem);
      display: flex;
      box-sizing: border-box;

      .item--CDz {
        margin-right: 9.3rem;
        line-height: 1.115;
        letter-spacing: -0.036rem;
        font-family: Comfortaa, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.4799999893);
        flex-shrink: 0;
      }
      .free-icon-eye-closed-94674-1-HFS {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
      }
    }
    .auto-group-mq6g-aVS {
      margin: 0rem 14.35rem 6rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .free-icon-checkmark-8625364-1-WP6 {
        margin: 0.1rem 1rem 0rem 0rem;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-5-1ak {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0.1rem 1.65rem 0rem 0rem;
        width: 2rem;
        height: 2rem;
        background-color: #3d3c3c;
      }
      .item--fvC {
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.115;
        color: #b5b4b4;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.03rem;
        font-family: Comfortaa, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .button-j9N {
      letter-spacing: -0.024rem;
      border-radius: 0.6rem;
      flex-shrink: 0;
      margin: 0rem 11.1rem 1.3rem 13.9rem;
      height: 4rem;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      box-sizing: border-box;
      width: calc(100% - 25rem);
      display: flex;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      border: solid 0.1rem #272727;
      align-items: center;
      background-color: #228e5d;
    }
    .button-vzY {
      align-items: center;
      flex-shrink: 0;
      justify-content: center;
      font-weight: 500;
      line-height: 1.2175;
      white-space: nowrap;
      border-radius: 0.6rem;
      width: calc(100% - 25rem);
      height: 4rem;
      font-size: 1.6rem;
      letter-spacing: -0.024rem;
      background-color: #272727;
      margin: 0rem 11.1rem 18.8rem 13.9rem;
      display: flex;
      color: #228e5d;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .item--9MW {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: #228e5d;
      font-family: Comfortaa, 'Source Sans Pro';
      margin-left: 3rem;
      font-weight: 400;
      line-height: 1.115;
      letter-spacing: -0.03rem;
      white-space: nowrap;
    }
  }
}
