
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.categories-ZHN {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 37.6rem;
  position: relative;
  align-items: center;
  background-color: #303030;
  width: 100%;
  overflow: hidden;

  .shapka-4zp {
    display: flex;
    letter-spacing: -0.0427rem;
    white-space: nowrap;
    margin-bottom: 5rem;
    width: 100%;
    position: relative;
    background-color: #272727;
    align-items: center;
    justify-content: center;
    font-size: 2.8444rem;
    font-family: Comfortaa, 'Source Sans Pro';
    flex-shrink: 0;
    padding: 1.9rem 9.35rem;
    font-weight: 400;
    color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 1.115;
  }
  .auto-group-exuv-Hcg {
    flex-shrink: 0;
    margin: 0rem 45.4rem 0rem 47.7rem;
    width: calc(100% - 93.1rem);
    height: 58.4rem;
    display: flex;
    align-items: center;

    .item-1-P9v {
      height: 100%;
      flex-shrink: 0;
      width: 22.1rem;

      .item-1-Y2p {
        text-align: center;
        line-height: 1.25;
        letter-spacing: -0.076rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        margin-bottom: 1.4rem;
        width: 100%;
        font-size: 4rem;
        font-weight: 500;
        white-space: nowrap;
      }
      .item--1SC {
        max-width: 22.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: -0.0608rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .auto-group-beje-gAx {
      box-sizing: border-box;
      padding-left: 5rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item-2-DAt {
        margin-right: 4rem;
        width: 33.1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--kRi {
          margin-bottom: 1.4rem;
          width: 100%;
          font-size: 4rem;
          font-weight: 500;
          flex-shrink: 0;
          text-align: center;
          line-height: 1.25;
          letter-spacing: -0.076rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .gamedev--RGx {
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 32.1rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.25;
          letter-spacing: -0.0608rem;
          color: #ffffff;
        }
      }
      .item-3-q5n {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--Pd6 {
          line-height: 1.25;
          letter-spacing: -0.076rem;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          margin: 0rem 9.4rem 1.4rem 0rem;
        }
        .video-games-video-games-general--g6Q {
          letter-spacing: -0.0608rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 34.7rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
    }
  }
}
