
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.podval-yQG {
  padding: 2.35rem 120.4rem 2.35rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #303030;
  box-sizing: border-box;

  .udsuh-VNc {
    letter-spacing: -0.03rem;
    font-family: Comfortaa, 'Source Sans Pro';
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.115;
    color: #ffffff;
    white-space: nowrap;
    margin-right: 13.9rem;
    flex-shrink: 0;
  }
  .telegram-QEg {
    margin-right: 16rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2175;
    letter-spacing: -0.024rem;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .item--imA {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2175;
    letter-spacing: -0.024rem;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}
