
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.registration-CrQ {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #303030;
  padding-bottom: 18.8rem;
  align-items: center;

  .shapka-nJp {
    position: relative;
    font-weight: 400;
    margin-bottom: 9.7rem;
    box-sizing: border-box;
    padding: 1.9rem 9.35rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    letter-spacing: -0.0427rem;
    font-family: Comfortaa, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 2.8444rem;
    line-height: 1.115;
    color: #ffffff;
    background-color: #272727;
  }
  .auto-group-tvuc-WPE {
    width: calc(100% - 142rem);
    align-items: center;
    border: solid 0.1rem #353535;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.200000003);
    flex-shrink: 0;
    margin: 0 71rem;
    padding: 10.05rem 7.4rem 33.2rem 7.6rem;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    border-radius: 1.7rem;
    box-sizing: border-box;

    .item--KV6 {
      color: #ffffff;
      white-space: nowrap;
      margin-bottom: 3.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.115;
      letter-spacing: -0.036rem;
      font-family: Comfortaa, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-umzv-wFa {
      font-family: Comfortaa, 'Source Sans Pro';
      flex-shrink: 0;
      letter-spacing: -0.036rem;
      margin-bottom: 3.1rem;
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      border-radius: 1.5rem;
      height: 5rem;
      font-weight: 400;
      line-height: 1.115;
      background-color: #3d3c3c;
      width: 100%;
      align-items: center;
      color: rgba(255, 255, 255, 0.4799999893);
      white-space: nowrap;
    }
    .auto-group-h6gc-LYc {
      box-sizing: border-box;
      padding: 1.3rem 1.2rem 1rem 13rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #3d3c3c;
      border-radius: 1.5rem;
      margin-bottom: 2.1rem;
      flex-shrink: 0;

      .item--r1A {
        color: rgba(255, 255, 255, 0.4799999893);
        font-family: Comfortaa, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 9.3rem;
        align-items: center;
        font-weight: 400;
        line-height: 1.115;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-size: 2.4rem;
        letter-spacing: -0.036rem;
      }
      .free-icon-eye-closed-94674-1-7xg {
        margin-bottom: 0.2rem;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-y1eu-o4p {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.2rem 2.1rem 0rem;
      display: flex;

      .free-icon-checkmark-8625364-1-K3A {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-5-c2G {
        background-color: #3d3c3c;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 2.2rem;
        width: 2rem;
        height: 2rem;
      }
      .item--6y2 {
        align-items: baseline;
        line-height: 1.115;
        font-family: Comfortaa, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: -0.024rem;
        color: #b5b4b4;

        .item--6y2-sub-0 {
        }
        .item--6y2-sub-1 {
          letter-spacing: -0.024rem;
          color: #228e5d;
          font-family: Comfortaa, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.115;
        }
        .item--6y2-sub-2 {
        }
      }
    }
    .button-79N {
      font-family: Montserrat, 'Source Sans Pro';
      border-radius: 0.6rem;
      flex-shrink: 0;
      margin: 0rem 11.1rem 0rem 10.9rem;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 500;
      color: #ffffff;
      align-items: center;
      letter-spacing: -0.0225rem;
      background-color: #228e5d;
      width: calc(100% - 22rem);
      height: 4rem;
      display: flex;
      line-height: 1.2175;
      white-space: nowrap;
    }
  }
}
