<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Authorization</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500"/>
  <link rel="stylesheet" href="../static/styles/authorization.css"/>
</head>
<body>
<div class="authorization-NqJ">
  <div class="shapka-WRi">Udsu.h</div>
  <div class="auto-group-tteq-aRa">
    <div class="item--fT2">Войдите в свой аккаунт</div>
    <div class="auto-group-6l6q-uMN">Логин</div>
    <div class="auto-group-hutw-6gk">
      <div class="item--CDz">Пароль</div>
      <img class="free-icon-eye-closed-94674-1-HFS" src="../static/assets/free-icon-eye-closed-94674-1-Bnc.png"/>
    </div>
    <div class="auto-group-mq6g-aVS">
      <img class="free-icon-checkmark-8625364-1-WP6" src="../static/assets/free-icon-checkmark-8625364-1.png"/>
      <div class="rectangle-5-1ak">
      </div>
      <div class="item--fvC">Запомнить меня</div>
    </div>
    <div class="button-j9N">Вход</div>
    <div class="button-vzY">Регистрация</div>
    <div class="item--9MW">Забыли пароль?</div>
  </div>
</div>
</body>