<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Categories</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500"/>
  <link rel="stylesheet" href="../static/styles/categories.css"/>
</head>
<body>
<div class="categories-ZHN">
  <div class="shapka-4zp">Udsu.h</div>
  <div class="auto-group-exuv-Hcg">
    <div class="item-1-P9v">
      <p class="item-1-Y2p">Тематика</p>
      <p class="item--1SC">
      Автомобили
      <br/>
      Бизнес
      <br/>
      Книги
      <br/>
      Комиксы
      <br/>
      Криптовалюты
      <br/>
      Ин.языки
      <br/>
      История
      <br/>
      Фильмы
      <br/>
      Музыка
      <br/>
      Животные
      <br/>
      Психология
      <br/>
      Наука
      <br/>
      
      </p>
    </div>
    <div class="auto-group-beje-gAx">
      <div class="item-2-DAt">
        <p class="item--kRi">Техника и софт </p>
        <p class="gamedev--RGx">
        Искуственный интеллект
        <br/>
        Gamedev
        <br/>
        Комп. железо
        <br/>
        Моб. устройства
        <br/>
        Программирование
        <br/>
        Радиотехника
        <br/>
        Программы
        <br/>
        Техника
        <br/>
        
        </p>
      </div>
      <div class="item-3-q5n">
        <p class="item--Pd6">Игры</p>
        <p class="video-games-video-games-general--g6Q">
        Настольные игры
        <br/>
        Консоли
        <br/>
        Визуальные новеллы
        <br/>
        Video Games
        <br/>
        Video Games General
        <br/>
        Текстовые рпг
        </p>
      </div>
    </div>
  </div>
</div>
</body>