<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>In categories</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500"/>
  <link rel="stylesheet" href="../static/styles/in-categories.css"/>
</head>
<body>
<div class="in-categories-29i">
  <div class="shapka-ZQY">
    <div class="udsuh-FoA">Udsu.h</div>
    <div class="button-kjv">Создать тред</div>
    <p class="chelik-bkY">Chelik</p>
    <div class="ellipse-7-Vqv">
    </div>
  </div>
  <div class="auto-group-vjy6-nq2">
    <div class="item--7cQ">Комп. железо</div>
    <div class="item--NYL">Проблемы с компьютером, софтом, настройка ПК и др. вопросы</div>
    <div class="auto-group-jpau-kon">
      <div class="auto-group-z1he-Uzg">
        <p class="item--SAp">Чёт с пк случилось помагите</p>
        <div class="item-4-2018-qCx">4 янв 2018</div>
        <img class="group-1-VoJ" src="../static/assets/group-1.png"/>
        <img class="item--Rgx" src="../static/assets/-FwA.png"/>
        <p class="item-228-KnL">228</p>
      </div>
      <div class="auto-group-4fgq-R4g">
        <div class="ellipse-2-woi">
        </div>
        <div class="auto-group-w8xn-qeC">
          <p class="chupachups-xyi">ChupaChups</p>
          <div class="item-14-2018-Nvx">14 июн 2018</div>
        </div>
      </div>
    </div>
    <div class="auto-group-xj4u-54g">
      <div class="auto-group-vkbn-yA4">
        <p class="item--VPJ">Какие есть гуд анти вирусы?</p>
        <div class="item-23-31-joS">Вчера, в 23:31</div>
        <img class="group-2-QPn" src="../static/assets/group-2.png"/>
        <img class="item--XDW" src="../static/assets/-eY4.png"/>
        <p class="item-1250-RJt">1250</p>
      </div>
      <div class="auto-group-kcp4-Hbz">
        <div class="ellipse-3-CDA">
        </div>
        <div class="auto-group-egqc-ihJ">
          <p class="item--UAg">МегаКрип</p>
          <div class="item-23-59-Nmr">Вчера, в 23:59</div>
        </div>
      </div>
    </div>
    <div class="auto-group-cqc8-U4C">
      <div class="auto-group-wxe4-QCk">
        <p class="item--ZLY">Программа или Ахк для того, чтоб скрыть курсор.</p>
        <div class="item-1-2023-j8Y">1 сен 2023</div>
        <img class="group-3-DZW" src="../static/assets/group-3.png"/>
        <img class="item--AUk" src="../static/assets/-nUc.png"/>
        <p class="item-2-Tik">2</p>
      </div>
      <div class="auto-group-fmu6-mUY">
        <div class="ellipse-4-6Fv">
        </div>
        <div class="auto-group-os68-dWk">
          <p class="silly-cat-nPe">Silly Cat</p>
          <div class="item-21-2023-sAC">21 сен 2023</div>
        </div>
      </div>
    </div>
    <div class="auto-group-jzwx-ZYp">
      <div class="auto-group-ouh2-VhN">
        <p class="c-3it">Система неправильно определяет память на диске c</p>
        <div class="item-04-20-X8G">Сегодня, в 04:20</div>
        <img class="group-4-PRN" src="../static/assets/group-4.png"/>
        <img class="item--vw6" src="../static/assets/-Bk8.png"/>
        <p class="item-17-CNp">17</p>
      </div>
      <div class="auto-group-cvov-4fv">
        <div class="ellipse-5-CXE">
        </div>
        <div class="auto-group-dnhi-j1N">
          <p class="item--GGC">Пажилая Чупакабра</p>
          <div class="item-16-20-9at">Сегодня, в 16:20</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>