<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>In thread</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="../static/styles/in-thread.css"/>
</head>
<body>
<div class="in-thread-pqz">
  <div class="shapka-xhJ">
    <img class="item--qWC" src="../static/assets/-Vbr.png"/>
    <div class="udsuh-ZSC">Udsu.h</div>
    <p class="chelik-T1n">Chelik</p>
    <div class="ellipse-7-LrG">
    </div>
  </div>
  <div class="auto-group-tfps-4XN">
    <div class="auto-group-gutn-akc">
      <div class="item--6ix">Форум</div>
      <div class="item--xFN">&gt; Название категории</div>
      <div class="item--Eig">&gt; мБ тут чото</div>
    </div>
    <div class="auto-group-zicc-YDa">
      <div class="item--3AL">&gt; Название треда</div>
      <div class="z-chelik-16-55--Wpc">
        <span class="z-chelik-16-55--Wpc-sub-0">Тема в разделе </span>
        <span class="z-chelik-16-55--Wpc-sub-1">Z</span>
        <span class="z-chelik-16-55--Wpc-sub-2"> создана пользователем </span>
        <span class="z-chelik-16-55--Wpc-sub-3">Chelik</span>
        <span class="z-chelik-16-55--Wpc-sub-4"> </span>
        <span class="z-chelik-16-55--Wpc-sub-5">16 мин. назад</span>
        <span class="z-chelik-16-55--Wpc-sub-6">.</span>
        <span class="z-chelik-16-55--Wpc-sub-7"> 55 просмотров </span>
      </div>
    </div>
    <div class="auto-group-wh3s-it4">
      <div class="auto-group-csxu-2tk">
        <div class="line-upper-comment-xXW">
        </div>
        <div class="auto-group-u11n-gCc">
          <div class="ellipse-1-nWY">
          </div>
          <div class="auto-group-mohv-HCQ">
            <div class="auto-group-n7cp-pTE">
              <p class="chelik-jaC">Chelik</p>
              <div class="auto-group-b8tc-Ga8">
                <div class="auto-group-weoe-Bh6">Автор темы</div>
                <div class="auto-group-ypg8-pzx">Чмошник</div>
                <div class="item-13-2023-V5W">13 сентября 2023</div>
              </div>
            </div>
            <p class="item-16-14--iix">Заказывал на майских, из-за этого отправка немного сдвинулась по дням, но это не критично, продавец сообщил сразу же что на данный момент почта не работает и отправка будет на следующий день в обед, отправил первым классом, после отправки я мгновенно получил трэк и отслеживал посылку, ориентировано должна была прийти 16-го, но 14-го я уже забрал</p>
          </div>
        </div>
        <div class="item-30--kb6">30 мин. назад</div>
      </div>
      <div class="line-under-comment-F24">
      </div>
      <div class="auto-group-ecqa-zEY">
        <div class="auto-group-z6eq-8Lk">
          <img class="ellipse-6-ScL" src="../static/assets/ellipse-6.png"/>
          <div class="auto-group-7nsv-NF6">
            <img class="material-symbols-attach-file-add-rounded-h2U" src="../static/assets/material-symbols-attach-file-add-rounded.png"/>
            <img class="icon-park-add-picture-NeQ" src="../static/assets/icon-park-add-picture.png"/>
            <div class="group-1-u8Y">Напишите ответ...</div>
          </div>
          <img class="item--X9v" src="../static/assets/.png"/>
        </div>
        <img class="comment-line-dik" src="REPLACE_IMAGE:24:97"/>
        <img class="comment-line-BVN" src="REPLACE_IMAGE:50:17"/>
        <img class="comment-line-8fW" src="REPLACE_IMAGE:24:112"/>
        <div class="auto-group-mayi-H2c">
          <div class="ellipse-2-kB6">
          </div>
          <div class="auto-group-adcq-f3A">
            <div class="auto-group-mmti-ofA">
              <p class="chupachups-vzg">ChupaChups</p>
              <div class="auto-group-sinx-Sy2">Чмошник</div>
            </div>
            <p class="item--JkL">
            Всем привет, меня зовут Саша, я диктор канала Мастерская Настроения
            <br/>
            
            </p>
            <div class="item-32--2Zr">32 мин. назад</div>
          </div>
        </div>
        <div class="auto-group-347n-8ct">
          <div class="ellipse-4-4Fe">
          </div>
          <div class="auto-group-swba-BbA">
            <p class="chupachups-jsa">ChupaChups</p>
            <p class="kek-q9v">Kek</p>
            <div class="item-35--YKE">35 мин. назад</div>
          </div>
        </div>
        <div class="auto-group-rj3a-pGk">
          <img class="ellipse-3-Fsr" src="../static/assets/ellipse-3.png"/>
          <div class="auto-group-mp7i-aQL">
            <div class="auto-group-gubr-X4g">
              <p class="chelik-G2G">Chelik</p>
              <div class="auto-group-g3i4-P6t">Автор темы</div>
            </div>
            <p class="lol-Drc">lol</p>
            <div class="item-33--Wap">33 мин. назад</div>
          </div>
        </div>
        <div class="auto-group-h8fe-oZv">
          <img class="ellipse-5-jiU" src="../static/assets/ellipse-5.png"/>
          <div class="auto-group-ad2c-GTW">
            <div class="auto-group-py4u-RLQ">
              <p class="chelik-NFe">Chelik</p>
              <div class="auto-group-jte8-Vr4">Автор темы</div>
            </div>
            <p class="lol-kmz">lol</p>
            <div class="item-59--t7W">59 мин. назад</div>
          </div>
        </div>
        <div class="auto-group-tqay-A52">Посмотреть предыдущие комментарии</div>
      </div>
    </div>
    <div class="auto-group-rmyx-xFn">
      <div class="item-34-sNk">34</div>
      <div class="item--NqJ">пользователя посмотрело эту тему за месяц</div>
    </div>
  </div>
</div>
</body>