<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Udsu.h</title>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<wrapper>
    <div class="hello-message">
        <img th:src="${catPic}" height="400px">
        <h2>Добро пожаловать на форум Udsu.h</h2>
        <a href="/threads" class="no-decoration-link button">К тредам</a>
    </div>
</wrapper>
</body>
</html>