<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Main</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500"/>
  <link rel="stylesheet" href="../static/styles/main.css"/>
</head>
<body>
<div class="main-tDi">
  <div class="shapka-2qi">
    <div class="udsuh-ZKr">Udsu.h</div>
    <div class="button-eMJ">Вход</div>
    <div class="button-HfA">Регистрация</div>
  </div>
  <div class="the-largest-community-of-photo-enthusiasts-YLC">
    <p class="udsuh-eu2">Udsu.h</p>
    <p class="udsuh-x--P5v">
    Udsu.h - это  форум, где можно общаться быстро и свободно, где любая точка зрения имеет право на жизнь. Здесь есть регистрация, вы не избавляетесь  от необходимости соблюдать правила. Все форумы имеют собственную чётко ограниченную тематику. 
    <br/>
    На данный момент открыто Х досок. За все время существования было оставлено X постов.
    </p>
  </div>
</div>
</body>