<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Udsu.h</title>
    <link rel="stylesheet" href="/static/css/threads.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<wrapper>
    <div class="thread-list">
        <div class="thread-author" th:text="${threadTitle}">Thread Theme</div>
        <a th:each="message : ${messages}"  th:href="@{'/threads/' + ${id}}" class="thread-item no-decoration-link">
            <div class="thread-top">
                <div class="thread-author"></div>
                <div th:text="${createdAt}" class="thread-created-date"></div>
            </div>
            <div class="thread-bot">
                <div class="thread-message" th:text="${message.text}"></div>
            </div>
        </a>
        <form th:action="@{'/message/create/' + ${id}}" method="post" class="thread-bottom">
            <input type="text" name ="message" placeholder="Сообщение" class="thread-input">
            <button type="submit">ok</button>
        </form>
    </div>
</wrapper>
</body>
</html>