<link rel="stylesheet" type="text/css" href="/static/css/partials/header.css" th:fragment="header"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" th:fragment="header"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400" th:fragment="header"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500" th:fragment="header"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500" th:fragment="header"/>

<a th:if="${username != 'null'}" href="/" class="header-logo no-decoration-link" th:fragment="header">Udsu.h</a>
<div class="header-user-wrapper" th:fragment="header">
  <a th:if="${username != 'null'}" href="#" class="no-decoration-link">Username</a>
  <a th:if="${username != 'null'}" href="/auth/logout" class="no-decoration-link">Выйти</a>
  <a th:if="${username == 'null'}" href="/login" class="no-decoration-link">Войти</a>
</div>