
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.authorization-NqJ {
  box-sizing: border-box;
  padding-bottom: 18.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #303030;
}
.authorization-NqJ .shapka-WRi {
  margin-bottom: 9.7rem;
  box-sizing: border-box;
  padding: 1.9rem 9.35rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8444rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.0427rem;
  color: #ffffff;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #272727;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa {
  margin: 0 71rem;
  box-sizing: border-box;
  padding: 10.05rem 7.4rem 2rem 4.6rem;
  width: calc(100% - 142rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #353535;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.200000003);
  background-color: #272727;
  border-radius: 1.7rem;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .item--fT2 {
  margin: 0rem 0rem 3.25rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-6l6q-uMN {
  margin: 0rem 0rem 3.1rem 3rem;
  width: 35rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.036rem;
  color: rgba(255, 255, 255, 0.4799999893);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3d3c3c;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-hutw-6gk {
  margin: 0rem 0rem 2.7rem 3rem;
  box-sizing: border-box;
  padding: 1.3rem 1.2rem 1rem 13rem;
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  background-color: #3d3c3c;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-hutw-6gk .item--CDz {
  margin-right: 9.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.036rem;
  color: rgba(255, 255, 255, 0.4799999893);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-hutw-6gk .free-icon-eye-closed-94674-1-HFS {
  margin-bottom: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-mq6g-aVS {
  margin: 0rem 14.35rem 6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-mq6g-aVS .free-icon-checkmark-8625364-1-WP6 {
  margin: 0.1rem 1rem 0rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-mq6g-aVS .rectangle-5-1ak {
  margin: 0.1rem 1.65rem 0rem 0rem;
  width: 2rem;
  height: 2rem;
  background-color: #3d3c3c;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .auto-group-mq6g-aVS .item--fvC {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.03rem;
  color: #b5b4b4;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .button-j9N {
  margin: 0rem 11.1rem 1.3rem 13.9rem;
  width: calc(100% - 25rem);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #272727;
  box-sizing: border-box;
  background-color: #228e5d;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .button-vzY {
  margin: 0rem 11.1rem 18.8rem 13.9rem;
  width: calc(100% - 25rem);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.024rem;
  color: #228e5d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #272727;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.authorization-NqJ .auto-group-tteq-aRa .item--9MW {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.03rem;
  color: #228e5d;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
