
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.categories-ZHN {
  box-sizing: border-box;
  padding-bottom: 37.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #303030;
}
.categories-ZHN .shapka-4zp {
  margin-bottom: 5rem;
  box-sizing: border-box;
  padding: 1.9rem 9.35rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8444rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.0427rem;
  color: #ffffff;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #272727;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg {
  margin: 0rem 45.4rem 0rem 47.7rem;
  width: calc(100% - 93.1rem);
  height: 58.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .item-1-P9v {
  width: 22.1rem;
  height: 100%;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .item-1-P9v .item-1-Y2p {
  margin-bottom: 1.4rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.categories-ZHN .auto-group-exuv-Hcg .item-1-P9v .item--1SC {
  max-width: 22.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.0608rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
}
.categories-ZHN .auto-group-exuv-Hcg .auto-group-beje-gAx {
  box-sizing: border-box;
  padding-left: 5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .auto-group-beje-gAx .item-2-DAt {
  margin-right: 4rem;
  width: 33.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .auto-group-beje-gAx .item-2-DAt .item--kRi {
  margin-bottom: 1.4rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .auto-group-beje-gAx .item-2-DAt .gamedev--RGx {
  max-width: 32.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.0608rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .auto-group-beje-gAx .item-3-q5n {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .auto-group-beje-gAx .item-3-q5n .item--Pd6 {
  margin: 0rem 9.4rem 1.4rem 0rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-ZHN .auto-group-exuv-Hcg .auto-group-beje-gAx .item-3-q5n .video-games-video-games-general--g6Q {
  max-width: 34.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.0608rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
