
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.registration-CrQ {
  box-sizing: border-box;
  padding-bottom: 18.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #303030;
}
.registration-CrQ .shapka-nJp {
  margin-bottom: 9.7rem;
  box-sizing: border-box;
  padding: 1.9rem 9.35rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8444rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.0427rem;
  color: #ffffff;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #272727;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE {
  margin: 0 71rem;
  box-sizing: border-box;
  padding: 10.05rem 7.4rem 33.2rem 7.6rem;
  width: calc(100% - 142rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #353535;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.200000003);
  background-color: #272727;
  border-radius: 1.7rem;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .item--KV6 {
  margin-bottom: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-umzv-wFa {
  margin-bottom: 3.1rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.036rem;
  color: rgba(255, 255, 255, 0.4799999893);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3d3c3c;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-h6gc-LYc {
  margin-bottom: 2.1rem;
  box-sizing: border-box;
  padding: 1.3rem 1.2rem 1rem 13rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3d3c3c;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-h6gc-LYc .item--r1A {
  margin-right: 9.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.036rem;
  color: rgba(255, 255, 255, 0.4799999893);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-h6gc-LYc .free-icon-eye-closed-94674-1-7xg {
  margin-bottom: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-y1eu-o4p {
  margin: 0rem 1.2rem 2.1rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-y1eu-o4p .free-icon-checkmark-8625364-1-K3A {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-y1eu-o4p .rectangle-5-c2G {
  margin-right: 2.2rem;
  width: 2rem;
  height: 2rem;
  background-color: #3d3c3c;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-y1eu-o4p .item--6y2 {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.024rem;
  color: #b5b4b4;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-y1eu-o4p .item--6y2 .item--6y2-sub-0 {
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-y1eu-o4p .item--6y2 .item--6y2-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.024rem;
  color: #228e5d;
  font-family: Comfortaa, 'Source Sans Pro';
}
.registration-CrQ .auto-group-tvuc-WPE .auto-group-y1eu-o4p .item--6y2 .item--6y2-sub-2 {
}
.registration-CrQ .auto-group-tvuc-WPE .button-79N {
  margin: 0rem 11.1rem 0rem 10.9rem;
  width: calc(100% - 22rem);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0225rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #228e5d;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
